:root {
  --gray: #DFDFDE;
  --mainBackGroundColor: hsl(218, 28%, 13%);
  --headerBackGroundColor: hsl(217, 28%, 15%);
  --testimonialsBackGroundColor: hsl(219, 30%, 18%);
  --footerBackGroundColor: hsl(216, 53%, 9%);
  --cyan: hsl(176, 68%, 64%); 
  --blue: hsl(198, 60%, 50%);
  --lightRed: hsl(0, 100%, 63%);
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--mainBackGroundColor);
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Mobile-First staring at width of 375px*/

/* header */

header {
  font-family: 'Raleway', sans-serif;
  background-color: var(--headerBackGroundColor);
  background-image: url(./images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 120% 39.5%;
}

.header-container {
  padding: 0 15px 0;
}

/* top logo picture */

.logo-picture-one {
  width: 28%;
  height: 28%;
  margin-top: 25px;
}

/* navbar */

.nav-links {
  margin: 28px 10px 0 0;
  float: right;
}

.nav-link {
  font-size: .825rem;
  padding-right: 10px;
  text-decoration: none;
  color: var(--gray);
  cursor: pointer;
}

.nav-link:visited {
  text-decoration: none;
  color: var(--gray);
}

.nav-link:hover {
  text-decoration: underline;
}

/* header image */

.intro-img-container {
  height: 100%;
  max-width: 100%;
  margin-top: 60px;
}

#intro-picture {
  width: 100%;
  height: 100%;
}

/* header info */

.intro-info-container {
  box-sizing: content-box;
}

.intro-info-container > h1 {
  font-size: 1.5rem;
  line-height: 1.4;
}

.function-desc {
  padding: 0 15px 15px;
  font-size: .9rem;
  line-height: 1.5;
  color: #DFDFDE;
}

/* get started button */

#start {
  width: 65vw;
  height: 50px;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border: none;
  border-radius: 30px;
  font-size: .875rem;
  margin-bottom: 180px;
}

#start > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#start:hover {
  background: var(--cyan);
}

/* benefits */

.benefits {
  padding: 0 20px;
  margin: 10px;
}

.benefit {
  margin-bottom: 120px;
}

.benefit > h2 {
  font-size: 1.2rem;
}

.benefit > p {
  font-size: .85rem;
  color: var(--gray);
}

/* stay productive  */

.productive-image-container {
  max-width: 100%;
  margin-bottom: 20px;
}

.productive-text-container > h1 {
  font-size: 1.1rem;
  text-align: left;
  padding: 0 30px;
}

.productive-text-container > p {
  text-align: left;
  line-height: 1.5;
  font-size: .825rem;
  padding: 0 30px;
  color: var(--gray);
}

/* see how Fylo works */

.page-link {
  text-align: left;
}

.page-link > a {
  color: var(--cyan);
  text-decoration: none;
}

.page-link > a > img {
  vertical-align: middle;
}

.page-link > a:hover {
  text-decoration: underline;
}

.productive-image {
  width: 85%;
  height: 100%;
}

/* testimonials */

#testimonials {
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 4%;
  background-position-x: 7px;
  margin-top: 80px;
}

.testimonial {
  font-size: .8rem;
  background-color: var(--testimonialsBackGroundColor);
  margin: 0px 30px 30px 30px;
  padding: 16px 20px;
}

.team-member {
  display: flex;
  align-items: center;
}

.team-member > img {
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.member-info {
  font-size: .7rem;
  padding-left: 10px;
  text-align: left;
  line-height: .7;
}

.member-info > p {
  color: var(--gray);
}

/* sign-up */

#sign-up {
  background-color: var(--testimonialsBackGroundColor);
  margin: 30px 20px 80px;
  padding: 20px;
  position: relative;
  top: 180px;
}

#sign-up > h2 {
  font-size: 1.2rem;
}

#sign-up > p {
  font-size: .9rem;
  color: lightgrey;
  line-height: 1.3;
}

form {
  line-height: 4.5;
}

#email-input {
  border: none;
  border-radius: 30px;
  width: 75vw;
  height: 50px;
}

#email-input::placeholder {
  text-align: center;
  font-size: .875rem;
}

#email-input[type=text] {
  text-align: center;
}

#email-input:focus {
  outline-color: var(--cyan);
}

#email-error-message {
margin: 0;
font-size: .8rem;
color: var(--lightRed);
position: absolute;
top: 214px;
left: 70px;
display: none;
}

#submit {
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: white;
  width: 75vw;
  height: 50px;
  font-size: .875rem;
  margin-top: 15px;
  cursor: pointer;
}

#submit:hover {
  background: var(--cyan);
}

/* footer */

footer {
  padding-top: 200px;
  background-color: var(--footerBackGroundColor);
  text-align: left;
}

/* second logo picture */

.logo-picture-two {
  padding-left: 30px;
  margin-bottom: 40px;
}

/* addresses */

.icons {
  display: flex;
  align-items: center;
  place-items: center;
  padding-left: 30px;
}

.icons > p {
  padding-left: 10px;
}

/* other links */

.other-links-one {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 80px 0 60px 30px;
}

.other-links-one > li, .other-links-two > li {
  list-style: none;
}

.other-link {
  text-decoration: none;
  color: white;
}

.other-link:visited {
  text-decoration: none;
  color: white;
}

.other-link:hover {
  color: var(--cyan);
}

.other-links-two {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 60px;
  padding-left: 30px;
}

.other-links-two > a {
  text-decoration: none;
}

.other-links-two > a:visited {
  text-decoration: none;
  color: white;
}

/* socials */

.socials {
  text-align: center;
}

.socials > i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 30px;
  margin-inline: 3px;
  margin-bottom: 40px;
  cursor: pointer;
}

.socials > i:hover {
  color: var(--cyan);
}
